__pycache__/
__slurm_logs/
mutation_effects/__old_*/
all_pdbs/
peptide_designs/nyeso_old_folder/
peptide_designs/all_structures/
peptide_designs/auxiliary_data/
mutation_effects/magea3_binders/
mutation_effects/mart/
mutation_effects/hhatv4/
mutation_effects/chandran_et_al/
peptide_designs/as42/
peptide_designs/mart/
tcrdock_output/
tcrdock_output_base/
tcrdock_output_noise=0p5/
tcrdock_output_T=1/
tcrdock_output_T=2/
tcrdock_output_T=3/
annealing_runs/
slurm/
*.key
TODO.md
*.npy
*.h5